.about-us {
  @mixin container;

  padding-bottom: 60px;
  padding-top: 40px;
}

.about-us__header {
  margin-top: 35px;
  margin-left: 30px;

  color: $black;
  font-size: 25px;
  line-height: 30px;
}

@media (--tablet-widths) {

  .about-us__header {
    margin-left: 50px;
    padding-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

}

@media (--desktop-widths) {

  .about-us__header {
    margin-left: 255px;

    font-size: 53px;
    line-height: 57px;
  }

}

/* ------------------------- */

.about-us__list {
  margin: 0px;
  margin-left: 30px;
  margin-right: 40px;
  padding: 0px;

  color: $black;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
}

@media (--tablet-widths) {

  .about-us__list {
    margin-left: 50px;

    font-size: 20px;
    line-height: 20px;
  }

}

@media (--desktop-widths) {

  .about-us__list {
    margin-left: 255px;
  }

}

/* ------------------------- */

.about-us__benefit {
  margin-top: 85px;

  border: 5px solid white;
}

@media (--tablet-widths) {

  .about-us__benefit {
    width: 220px;
  }

  .about-us__benefit:nth-child(n+4) {
    float: right;
  }

  .about-us__benefit:nth-child(4) {
    margin-top: -330px;
  }

  .about-us__benefit:nth-child(5) {
    margin-top: -200px;
  }

  .about-us__benefit:nth-child(6) {
    margin-top: -50px;
  }

}

@media (--desktop-widths) {

  .about-us__benefit:nth-child(n+4) {
    margin-right: 200px;
  }

}

/* ------------------------- */

.about-us__img {
  float: left;
  margin-top: -70px;
}
