.card {
  @mixin container;

  padding-bottom: 30px;

  font-size: 0px;
  line-height: 0px;

  @media (--desktop-widths) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: stretch;*/
  }
}

/* --------------------------------------- */
/* -------------  Карточка  -------------- */
/* --------------------------------------- */

.card__container {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;

  @media (--tablet-widths) {
    flex-direction: row;
    /*align-content: stretch;*/

    margin-left: 50px;
    margin-right: 50px;
  }

  @media (--desktop-widths) {
    flex-direction: column;
    margin-right: 0;
  }
}


/* --------------------------------------- */
/* ------------  Картинка  --------------- */
/* --------------------------------------- */

.card__img {
  @media (--tablet-widths) {
    width: 334px;
    height: 334px;
  }

  @media (--desktop-widths) {
    width: 316px;
    height: 462px;

    margin-bottom: 0;
  }
}

/* --------------------------------------- */
/* ------------  Хар-ки    --------------- */
/* --------------------------------------- */

.card__options {
  background-color: white;
  border: 1px solid $border-color;
  border-top: none;

  padding-left: 30px;
  padding-right: 30px;

  @media (--tablet-widths) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 335px;
    border: 1px solid $border-color;
    border-left: none;

    margin-left: 0;
    margin-right: 0;

    padding-right: 30px;
  }

  @media (--desktop-widths) {
    border: 1px solid $border-color;
    border-top: none;
    display: block;
    width: 316px;

    margin-top: 0;
    padding: 0;
  }
}

/* --------------------------------------- */
/* ------------  Название  --------------- */
/* --------------------------------------- */

.card__name {
  @mixin margin-reset;

  padding-bottom: 15px;
  padding-top: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  @media (--tablet-widths) {
    font-size: 20px;
    line-height: 25px;
  }

  @media (--desktop-widths) {
    padding-right: 0;
    padding-left: 30px;
    padding-top: 30px;

    text-align: left;
  }
}

/* --------------------------------------- */
/* ------------  Описание  --------------- */
/* --------------------------------------- */

.card__description {
  @mixin margin-reset;
  padding-bottom: 30px;
  width: auto;
  flex-wrap: wrap;

  color: $grey;
  font-size: 13px;
  line-height: 15px;

  @media (--tablet-widths) {
    font-size: 15px;
    line-height: 15px;
  }

  @media (--desktop-widths) {
    margin-bottom: 45px;
    padding-bottom: 0;

    padding-left: 30px;
  }
}

/* --------------------------------------- */
/* ------------  Стоимость  -------------- */
/* --------------------------------------- */

.card__cost {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid $border-color;

  @media (--tablet-widths) {
    /*align-self: flex-start;*/
  }

  @media (--desktop-widths) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* ------------ Число в цене ------------- */

.card__number-cost {
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

/* -------------   Кнопка   -------------- */

.card__buy-btn {
  padding: 0;
  border: none;
  background-color: $bg-white;
}

/* --------------------------------------- */
