.form {
  @mixin container;
}

.form__field {
  border: none;
  @mixin margin-reset;
}

/* ------------------------------------------ */
/* --------------- Описание ----------------- */
/* ------------------------------------------ */

.form__description {
  @mixin margin-reset;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 48px;
  padding-bottom: 30px;

  color: $grey;
  line-height: 30px;

  @media (--tablet-widths) {
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (--desktop-widths) {
    padding-left: 225px;
    padding-top: 110px;
  }
}

/* ------------------------------------------ */
/* ----------- Группировка форм ------------- */
/* ------------------------------------------ */

.form__group {
  border: none;
  border-top: 1px solid $primary-color;
  @mixin margin-reset;
  margin-right: 30px;

  @media (--tablet-widths) {
    border: none;
  }
}


/* ------------------------------------------ */
/* ----------- Шапки названий форм ---------- */
/* ------------------------------------------ */

.form__group-title {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  color: $primary-color;
  text-transform: uppercase;
  font-weight: 700;

  @media (--tablet-widths) {
    width: 100px;
    margin-left: 50px;
    margin-bottom: 0;
    padding-left: 0;
  }

  @media (--desktop-widths) {
    margin-left: 115px;
  }
}

/* ------------------------------------------ */
/* ------------- Радио кнопки --------------- */
/* ------------------------------------------ */

.form__radio {
  display: none;
}

/* --------- Подписи радио кнопок ----------- */

.form__radio-label {
  display: inline-block;
  position: relative;

  font-weight: 700;

  margin-left: 90px;
  padding-bottom: 30px;

  @media (--tablet-widths) {
    display: block;

    margin-left: 270px;
    margin-top: -23px;

    padding-bottom: 60px;

    font-size: 19px;
    line-height: 19px;
  }

  @media (--desktop-widths) {
    margin-left: 285px;
  }
}

.form__radio-label::before {
  content: "";
  width: 40px;
  height: 40px;

  position: absolute;
  top: -12px;
  left: -60px;


  border: 2px solid $grey;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

input[type=radio]:checked + .form__radio-label::after {
  content: "";
  width: 16px;
  height: 16px;

  position: absolute;
  top: -12px;
  left: -60px;

  border: 10px solid red;
  border-radius: 50%;
  background-color: blue;
}

/* ------------------------------------------ */
/* ---------- Раздел выбора цвета ----------- */
/* ------------------------------------------ */

.form__container-color {
  border: 2px solid black;

  @media (--tablet-widths) {
    padding-top: 80px;
    background-color: $bg-grey;
  }
}

.form__group--color {

  @media (--tablet-widths) {

    .form__group--color {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
    }

  }
}

/* ---------- Раздел выбора цвета ----------- */

.form__group-title--color {

}

@media (--tablet-widths) {

  .form__group-title--color {

  }

}

/* ------------------------- */

.form__checkbox {
  display: none;
}

.form__checkbox-label {
  display: block;
  position: relative;

  margin-left: 60px;
  padding-bottom: 46px;

  &::after {
    content: "";
    width: 40px;
    height: 40px;

    position: absolute;
    top: -12px;
    left: -60px;

    border: 2px solid #444;
  }
}

@media (--tablet-widths) {

  .form__checkbox-label {
    width: 200px;
    margin-left: 100px;
  }

}

@media (--desktop-widths) {

}

/* ------------------------- */

.form__text-label {
  display: block;

  margin-bottom: 10px;
  margin-top: 10px;
}

@media (--tablet-widths) {

  .form__text-label {
    margin-left: 220px;
    margin-top: -20px;

    padding-bottom: 60px;
  }

}

@media (--desktop-widths) {

  .form__text-label {
    margin-left: 230px;
    margin-top: -20px;

    padding-bottom: 60px;
  }

}

/* ------------------------- */

.form__text {

}

@media (--tablet-widths) {

  .form__text--name {
    float: right;
    margin-right: 150px;
  }

}

@media (--desktop-widths) {

  .form__text--name {
    margin-right: 250px;
  }

}


.form__other-label {
  display: block;
  margin: 0px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 0px;

  color: $green;
  text-transform: uppercase;
}

@media (--tablet-widths) {

  .form__other-label {
    margin-lefT: 50px;
  }

}

@media (--desktop-widths) {

  .form__other-label {
    margin-lefT: 110px;
  }

}

/* ------------------------- */


@media (--tablet-widths) {

  .form__other {
    /*background-color: $bg-grey;*/
  }

}

/* ------------------------- */

.form__other-info {
  margin: 0px;
  padding: 0px;
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 28px;

  color: $grey;
  font-size: 14px;
  line-height: 15px;
}

@media (--tablet-widths) {

  .form__other-info {

  }

}

@media (--desktop-widths) {

  .form__other-info {

  }

}

/* ------------------------- */

.form__submit {
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;


  background-color: white;
  border: 2px solid $grey;

  color: $grey;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
