.form {
  @mixin container;
}

.form__field {
  border: none;
}

@media (--tablet-widths) {

}

@media (--desktop-widths) {

}

/* ------------------------- */

.form__description {
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 48px;
  padding-bottom: 30px;

  color: $grey;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

@media (--tablet-widths) {

  .form__description {
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

}

@media (--desktop-widths) {

  .form__description {
    padding-left: 225px;
    padding-top: 110px;
  }

}

/* ------------------------- */

.form__group {
  border: none;
  @mixin margin-reset;
}

@media (--tablet-widths) {

}

@media (--desktop-widths) {

}

/* ------------------------- */

.form__group-title {
  margin-bottom: 30px;

  color: $green;
  text-transform: uppercase;
}

@media (--tablet-widths) {

  .form__group-title {
    width: 100px;
    margin-left: 50px;
    margin-bottom: 0;
  }

}

@media (--desktop-widths) {

  .form__group-title {
    margin-left: 115px;
  }

}

/* ------------------------- */

.form__radio {
  display: none;
}

.form__radio-label {
  display: inline-block;
  position: relative;

  margin-left: 60px;
  padding-bottom: 30px;

  &::after {
    content: "";
    width: 40px;
    height: 40px;

    position: absolute;
    top: -12px;
    left: -60px;


    border: 2px solid $grey;
    border-radius: 50%;
    background-color: $bg-white;
  }
}

@media (--tablet-widths) {

  .form__radio-label {
    display: block;

    margin-left: 300px;
    margin-top: -20px;

    padding-bottom: 60px;

    font-size: 19px;
    line-height: 19px;
  }

}

@media (--desktop-widths) {

  .form__radio-label {
    margin-left: 305px;
  }

}

/* ------------------------- */

.form__group--color {

}

@media (--tablet-widths) {

  .form__group--color {
    background-color: $bg-grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

}

/* ------------------------- */

.form__group-title--color {

}

@media (--tablet-widths) {

  .form__group-title--color {
    padding-top: 80px;
  }

}

/* ------------------------- */

.form__checkbox {
  display: none;
}

.form__checkbox-label {
  display: block;
  position: relative;

  margin-left: 60px;
  padding-bottom: 46px;

  &::after {
    content: "";
    width: 40px;
    height: 40px;

    position: absolute;
    top: -12px;
    left: -60px;

    border: 2px solid #444;
  }
}

@media (--tablet-widths) {

  .form__checkbox-label {
    width: 200px;
    margin-left: 100px;
  }

}

@media (--desktop-widths) {

}

/* ------------------------- */

.form__text-label {
  display: block;

  margin-bottom: 10px;
  margin-top: 10px;
}

@media (--tablet-widths) {

  .form__text-label {
    margin-left: 220px;
    margin-top: -20px;

    padding-bottom: 60px;
  }

}

@media (--desktop-widths) {

  .form__text-label {
    margin-left: 230px;
    margin-top: -20px;

    padding-bottom: 60px;
  }

}

/* ------------------------- */

.form__text {

}

@media (--tablet-widths) {

  .form__text--name {
    float: right;
    margin-right: 150px;
  }

}

@media (--desktop-widths) {

  .form__text--name {
    margin-right: 250px;
  }

}


.form__other-label {
  display: block;
  margin: 0px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 0px;

  color: $green;
  text-transform: uppercase;
}

@media (--tablet-widths) {

  .form__other-label {
    margin-lefT: 50px;
  }

}

@media (--desktop-widths) {

  .form__other-label {
    margin-lefT: 110px;
  }

}

/* ------------------------- */


@media (--tablet-widths) {

  .form__other {
    background-color: $bg-grey;
  }

}

/* ------------------------- */

.form__other-info {
  margin: 0px;
  padding: 0px;
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 28px;

  color: $grey;
  font-size: 14px;
  line-height: 15px;
}

@media (--tablet-widths) {

  .form__other-info {

  }

}

@media (--desktop-widths) {

  .form__other-info {

  }

}

/* ------------------------- */

.form__submit {
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;


  background-color: white;
  border: 2px solid $grey;

  color: $grey;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
