.form {
  @mixin container;
}

.form__field {
  border: none;
  @mixin margin-reset;
}

/* ------------------------------------------ */
/* --------------- Описание ----------------- */
/* ------------------------------------------ */

.form__description {
  @mixin margin-reset;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 48px;
  padding-bottom: 30px;
  box-sizing: border-box;
  max-width: 100%;

  color: $grey;
  line-height: 30px;

  @media (--tablet-widths) {
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (--desktop-widths) {
    padding-left: 225px;
    padding-top: 110px;
  }
}

/* ------------------------------------------ */
/* ----------- Группировка форм ------------- */
/* ------------------------------------------ */

.form__group {
  border: none;
  border-top: 1px solid $primary-color;
  @mixin margin-reset;
  margin-right: 30px;

  @media (--tablet-widths) {
    border: none;
  }
}

/* ------------------------------------------ */
/* ----------- Шапки названий форм ---------- */
/* ------------------------------------------ */

.form__group-title {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  color: $primary-color;
  text-transform: uppercase;
  font-weight: 700;

  @media (--tablet-widths) {
    width: 100px;
    margin-left: 50px;
    margin-bottom: 0;
    padding-left: 0;
  }

  @media (--desktop-widths) {
    margin-left: 115px;
  }
}


/* ------------------------------------------ */
/* ------------ Контейнеры форм ------------- */
/* ------------------------------------------ */


/* ------------------------------------------ */
/* ------------- Радио кнопки --------------- */
/* ------------------------------------------ */

.form__radio-input {
  display: none;
}

/* --------- Подписи радио кнопок ----------- */

.form__radio-label {
  display: flex;
  align-items: center;

  font-weight: 700;

  margin-left: 30px;
  margin-bottom: 15px;

  @media (--tablet-widths) {
    margin-left: 0;
  }
}

.form__radio-icon:hover {
  border-color: $primary-color;
}

.form__radio-icon:active {
  border-color: #c7c7c7;
}

.form__label-container {

  @media (--tablet-widths) {
    margin-top: -30px;
    margin-left: 220px;
  }

}

/* --------- Стилизация радио кнопок ----------- */

.form__radio-icon {
  width: 40px;
  height: 40px;

  border: 2px solid $grey;
  border-radius: 50%;
}

input[type=radio]:checked + .form__radio-icon::after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;

  margin-left: 12px;
  margin-top: 12px;

  border-radius: 50%;
  background-color: $green;
}

/* --------- Подпись радио кнопок ----------- */

.form__radio-name {
  width: 150px;
  padding-left: 20px;

  @media (--tablet-widths) {
    width: auto;
  }
}

/* ------------------------------------------ */
/* ---------- Раздел выбора цвета ----------- */
/* ------------------------------------------ */

.form__label-container--color {

  @media (--tablet-widths) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 35px;
  }
}

.form__container--color {

  @media (--tablet-widths) {
    background-color: $bg-grey;

    margin-top: 35px;
    padding-top: 50px;
  }

}

.form__group-title--color {

  @media (--tablet-widths) {
    padding-top: 30px;
  }

}

.form__checkbox-input {
  display: none;
}

.form__checkbox-label {
  display: flex;
  align-items: center;

  font-weight: 700;

  margin-left: 30px;
  margin-bottom: 25px;

  @media (--tablet-widths) {
    margin-left: 0;

    width: 250px;
  }
}

/* --------- Стилизация чекбокс кнопок ----------- */

.form__checkbox-icon {
  width: 40px;
  height: 40px;

  border: 2px solid $grey;
}

.form__checkbox-icon:hover {
  border-color: $primary-color;
}

.form__checkbox-icon:active {
  border-color: #c7c7c7;
}

.form__checkbox-name {
  padding-left: 20px;
}

input[type=checkbox]:checked + .form__checkbox-icon::after {
  content: "";

  display: block;
  width: 20px;
  height: 10px;

  border-left: 3px solid black;
  border-bottom: 3px solid black;

  margin-left: 10px;
  margin-top: 10px;

  transform: rotate(-45deg);
}

/* ------------------------------------------ */
/* -----------  Раздел ввода ФИО  ----------- */
/* ------------------------------------------ */

.form__container--name {
  padding-bottom: 30px;

  @media (--tablet-widths) {
    padding-bottom: 70px;
  }
}

.form__container--name .form__group-title {
  margin-bottom: 0;

  @media (--tablet-widths) {
    padding-top: 70px;
  }
}

.form__container--name .form__label-container {

  @media (--tablet-widths) {
    margin-top: -60px;
  }
}

.form__text-label {
  display: block;
  padding-left: 30px;
  padding-top: 25px;

  @media (--tablet-widths) {
    padding-left: 0;
  }

  @media (--desktop-widths) {

  }
}

.form__text-name {
  display: block;
  font-weight: 700;

  @media (--tablet-widths) {
    display: inline-block;
    padding-right: 25px;
  }

}

.form__text-input {
  box-sizing: border-box;
  width: 260px;
  height: 50px;

  border: none;
  border-bottom: 2px solid black;

  @media (--tablet-widths) {
    width: 375px;
    padding-left: 20px;
  }

  @media (--desktop-widths) {
    width: 575px;
  }
}

.form__text-input:hover {
  border-color: $primary-color;
}

.form__text-input--name {

  @media (--tablet-widths) {
    width: 420px;
  }

  @media (--desktop-widths) {
    width: 620px;
  }
}

/* ------------------------------------------ */
/* -----------  Раздел Tel Email  ----------- */
/* ------------------------------------------ */

.form__container--other {

  @media (--tablet-widths) {
    padding-top: 50px;
    padding-bottom: 30px;

    background-color: $bg-grey;
  }
}

.form__container--other .form__group-title {
  margin-bottom: 0;

  @media (--tablet-widths) {
    display: inline-block;
  }

  @media (--desktop-widths) {
    padding-right: 0;
  }
}

.form__container--other .form__text-input {
  margin-left: 30px;
  margin-bottom: 40px;

  @media (--tablet-widths) {
    display: inline-block;
    width: 490px;

    background: $bg-grey;
  }

  @media (--desktop-widths) {
    width: 690px;
    margin-left: 0;
  }
}

/* ------------------------------------------ */
/* -------------    Коммент    -------------- */
/* ------------------------------------------ */

.form__comment {
  box-sizing: border-box;
  width: 260px;
  height: 142px;

  margin-left: 30px;
  margin-bottom: 20px;
  padding: 20px;

  @media (--tablet-widths) {
    width: 490px;
    margin-bottom: 0;
  }

  @media (--desktop-widths) {
    width: 690px;
    margin-left: 0;
  }
}

.form__container--comment {

  @media (--tablet-widths) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.form__container--comment .form__group-title {

  @media (--tablet-widths) {
    display: inline-block;
  }

  @media (--desktop-widths) {
    padding-right: 0;
  }
}

/* -------------  Футер форм  --------------- */

.form__footer-container {
  text-align: center;
  padding-bottom: 55px;

  @media (--tablet-widths) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (--desktop-widths) {
    padding-bottom: 95px;
  }
}

.form__other-info {
  @mixin margin-reset;
  padding-bottom: 20px;

  font-size: 14px;

  @media (--tablet-widths) {
    padding-right: 50px;

    font-size: 17px;
  }

  @media (--desktop-widths) {
    padding-right: 240px;
  }
}

/* ------------------------------------------ */
/* -------------    Кнопка     -------------- */
/* ------------------------------------------ */

.form__submit {
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: white;
  border: 2px solid $grey;

  color: $grey;
  font-weight: 700;
  text-transform: uppercase;

  @media (--tablet-widths) {
    margin-left: 50px;
  }

  @media (--desktop-widths) {
    margin-left: 220px;
  }
}

.form__submit:hover {
  background-color: $btn-bg-hover;
  color: white;
}

.form__submit:active {
  color: $btn-text-active;
}


