$width-header: 320px;


.header {
  width: $width-header;

  border: 2px solid blue;
}

.header__logo {

}

.header__logo-img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

.header__main-menu-btn {
  border: none;
  background: none;
}
