.main-menu {
  @mixin container;

  position: absolute;
  font-weight: 700;
  background-color: white;

  @media (--tablet-widths) {
    background-color: inherit;

    top: 0;
    left: 0;
  }
}

.main-menu__img {
  position: absolute;
  top: 40%;
  left: 10%;
}

/* ------------------------------------ */
/* ----------    СПИСОК      ---------- */
/* ------------------------------------ */

.main-menu__list {
  @mixin margin-reset;
  list-style: none;

  @media (--tablet-widths) {
    height: 125px;
    display: flex;
    justify-content: space-between;
  }

  @media (--desktop-widths) {
    align-items: center;
    height: 80px;
  }
}

/* ------------------------------------ */
/* ---------- Начало  списка ---------- */
/* ------------------------------------ */

.main-menu__start-list {

  @media (--tablet-widths) {
    display: flex;
    align-items: flex-end;

    font-size: 15px;
    line-height: 15px;
  }

  @media (--desktop-widths) {
    /*align-items: center;*/

    font-size: 17px;
    line-height: 20px;
  }

}

/* ------------------------------------ */
/* ---------- Конец   списка ---------- */
/* ------------------------------------ */

.main-menu__finish-list {

  @media (--tablet-widths) {
    display: flex;
  }

}

/* ------------------------------------ */
/* ---------- Элемент списка ---------- */
/* ------------------------------------ */

.main-menu__list-item {
  position: relative;

  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 1px solid $border-color;

  @media (--tablet-widths) {
    padding: 0;
    border-top: none;
  }

}

/* --------------------------------------------------------- */
/* ---------- Первый Элемент начала списка списка ---------- */
/* --------------------------------------------------------- */

.main-menu__start-list .main-menu__list-item:nth-child(1) {

  @media (--tablet-widths) {
    padding-left: 50px;
  }

  @media (--desktop-widths) {
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 1px solid $border-color;
  }

}

/* --------------------------------------------------------- */
/* ---------- Второй Элемент начала списка списка ---------- */
/* --------------------------------------------------------- */

.main-menu__start-list .main-menu__list-item:nth-child(2) {

  @media (--tablet-widths) {
    padding-left: 40px;
  }

  @media (--desktop-widths) {
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

/* --------------------------------------------------------- */
/* ----------------- Третий Элемент  списка ---------------- */
/* --------------------------------------------------------- */

.main-menu__finish-list .main-menu__list-item:nth-child(1) {

  @media (--tablet-widths) {
    width: 80px;
    height: 80px;

    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;

    font-size: 0;
    line-height: 0;

  }

}

.main-menu__list-item-search .main-menu__img {

  @media (--tablet-widths) {
    top: 40%;
    left: 40%;
  }

}

/* --------------------------------------------------------- */
/* --------------- Четвёртый Элемент списка ---------------- */
/* --------------------------------------------------------- */

.main-menu__finish-list .main-menu__list-item:nth-child(2) {

  @media (--tablet-widths) {
    padding-right: 50px;
    padding-top: 30px;
    padding-left: 80px;
  }

}

.main-menu__list-item-card .main-menu__img {

  @media (--tablet-widths) {
    top: 25%;
    left: 10%;
  }

  @media (--desktop-widths) {
    top: 40%;
  }

}
