.product-categories {
  @mixin container;

  font-size: 0;
}

.product-categories__category {
  display: block;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 29px;

  color: $bg-white;
  font-size: 19px;
  line-height: 24px;

  &--objects {
    background-color: $green;
  }

  &--toy {
    background-color: $barkgreen;
  }
}

@media (--tablet-widths) {

  .product-categories__category {
    padding-top: 35px;
    padding-bottom: 35px;

    margin-top: -92px;

    &--objects {
      float: left;
      margin-left: 50px;
      width: 301px;
    }

    &--toy {
      float: right;
      margin-right: 50px;
      width: 301px;
    }

  }

}

@media (--desktop-widths) {

  .product-categories__category {

    &--objects {
      width: 496px;
    }

    &--toy {
      width: 496px;
    }

  }

}
