.product-categories {
  @mixin container;

  font-weight: 700;

  @media (--tablet-widths) {
    display: flex;
    justify-content: center;

    margin-top: -132px;
  }
}

.product-categories__category {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  color: white;
  font-size: 19px;
  line-height: 25px;

  @media (--tablet-widths) {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 25px;
  }
}

.product-categories__category--objects {
  background-color: $primary-color;
}

.product-categories__category--toy {
  background-color: $secondary-color;
}

.product-categories__icon--interior {
  fill: #3bb09d;
  margin-right: 35px;
}

.product-categories__icon--interior:hover  {
  fill: #29a492;
}

.product-categories__icon--interior:active  {
  fill: #44c0aa;
}

.product-categories__icon--toy {
  fill: #35a999;
  margin-right: 25px;
}

.product-categories__icon--toy:hover {
  fill: #239f8e;
}

.product-categories__icon--toy:active {
  fill: #37b2a0;
}

/* ---------------------------------------------------------- */
/* --------------------- Блок текста ------------------------ */
/* ---------------------------------------------------------- */

.product-categories__text {
  display: block;
  width: 110px;

  @media (--tablet-widths) {
    margin-right: 110px;
  }

  @media (--desktop-widths) {
    margin-right: 300px;
  }
}
