.reviews {
  @mixin container;

  @media (--tablet-widths) {
    display: flex;

    padding-top: 85px;
    padding-bottom: 35px;
    margin-top: 50px;
    margin-bottom: 70px;

    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (--retina) {
      background-image: url(../img/review@2x.jpg);
    }
  }

  @media (--desktop-widths) {
    padding-top: 80px;
    padding-bottom: 100px;
    margin-top: 60px;
    background-position: 50px 0;
  }
}

.reviews {
  @media (--tablet-widths) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* --------------  Порядок блоков  ---------------- */

.reviews__header {
  @media (--tablet-widths) {
    order: 1;
  }
}

.reviews__description {
  @media (--tablet-widths) {
    order: 3;
  }
}

.reviews__name-container {
  @media (--tablet-widths) {
    order: 4;
  }
}

.reviews__switch {
  @media (--tablet-widths) {
    order: 5;
  }
}

.reviews__btn {
  @media (--tablet-widths) {
    order: 2;
  }
}

/* --------------------------------------- */
/* --------------  Шапка  ---------------- */
/* --------------------------------------- */

.reviews__header {
  @mixin margin-reset;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 40px;

  font-size: 25px;
  line-height: 30px;

  @media (--tablet-widths) {
    margin: 0;
    margin-left: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (--desktop-widths) {
    margin-left: 255px;

    font-size: 53px;
    line-height: 57px;
  }
}

/* --------------------------------------- */
/* -------------- Описание --------------- */
/* --------------------------------------- */

.reviews__description {
  @mixin margin-reset;
  margin-left: 30px;
  margin-right: 35px;
  margin-bottom: 40px;

  color: $grey;
  font-size: 15px;
  line-height: 30px;

  @media (--tablet-widths) {
    margin-top: 65px;
    margin-left: 50px;
    margin-right: 70px;
    margin-bottom: 70px;

    line-height: 27px;
  }

  @media (--desktop-widths) {
    margin-left: 255px;
    margin-right: 150px;
    margin-bottom: 50px;
  }
}

/* --------------------------------------- */
/* ------------- ИМЯ Комента ------------- */
/* --------------------------------------- */

.reviews__name-container {
  margin-left: 30px;
  margin-bottom: 35px;

  @media (--tablet-widths) {
    margin-left: 50px;
    margin-bottom: 0;
  }

  @media (--desktop-widths) {
    margin-left: 255px;
  }
}

.reviews__name {
  @mixin margin-reset;
  display: block;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

/* --------------------------------------- */
/* --------------   Кнопка   ------------- */
/* --------------------------------------- */

.reviews__btn {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 45px;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: white;
  border: 2px solid $grey;

  color: $grey;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  @media (--tablet-widths) {
    margin: 0;
    margin-right: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (--desktop-widths) {

  }
}

.reviews__btn:hover {
  background-color: $btn-bg-hover;
  color: white;
}

.reviews__btn:active {
  color: $btn-text-active;
}

/* --------------------------------------- */
/* --------------  Стрелки   ------------- */
/* --------------------------------------- */

.reviews__switch {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 38px;

  background-color: $bg-white;
  border: 1px solid $border-color;

  font-size: 0px;
  line-height: 0px;

  @media (--tablet-widths) {
    border: none;
    margin-bottom: 0;
  }
}

.reviews__switch-btn {
  background-color: white;
  border: none;
  padding: 0;
  outline: none;
}

.reviews__switch-btn:hover {
  fill: $btn-arrow-hover;
}

.reviews__switch-btn:active {
  fill: $btn-arrow-active;
}

.reviews__switch-prev {
  display: inline-block;
  border-right: 1px solid $border-color;

  @media (--tablet-widths) {
    border: none;
  }
}

.reviews__switch-next {
  display: inline-block;
}

.reviews__switch-arrow {
  display: block;

  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 38px;
  margin-right: 38px;

  font-size: 0px;
  line-height: 0px;

  @media (--tablet-widths) {
    margin-left: 0;
  }
}
