.top-week {
  @mixin container;
}

/* ------------------------------------------ */
/* ------------ Контейнер шапки ------------- */
/* ------------------------------------------ */

.top-week__header-container {
  font-weight: 700;

  @media (--tablet-widths) {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 55px;
  }

  @media (--desktop-widths) {
    justify-content: flex-end;
    flex-direction: row-reverse;

    margin-top: 130px;
  }

}

/* ---------------- Шапка ----------------- */

.top-week__header {
  display: block;

  @mixin margin-reset;

  margin-left: 30px;
  margin-top: 35px;
  margin-bottom: 10px;

  font-size: 25px;
  line-height: 30px;

  @media (--tablet-widths) {
    @mixin margin-reset;
    align-items: center;

    font-size: 43px;
    line-height: 45px;
  }

  @media (--desktop-widths) {
    margin-left: 55px;

    font-size: 53px;
    line-height: 55px;
  }
}

/* -------------- Подпись шапки --------------- */

.top-week__top {
  @mixin margin-reset;
  margin-left: 32px;
  margin-bottom: 30px;

  color: $primary-color;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;

  @media (--tablet-widths) {
    @mixin margin-reset;
    align-self: center;
    text-align: center;

    width: 100px;
  }

  @media (--desktop-widths) {
    margin-left: 50px;
  }
}

/* ------------------------------------------ */
/* --------------- Описание ----------------- */
/* ------------------------------------------ */

.top-week__description {
  display: block;

  margin-left: 32px;
  margin-right: 40px;
  margin-bottom: 30px;

  color: $grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  @media (--tablet-widths) {
    width: 260px;

    margin-left: 50px;
    margin-bottom: 45px;
  }

  @media (--desktop-widths) {
    margin-left: 255px;
  }
}

/* ------------------------------------------ */
/* ----------- Характеристики  -------------- */
/* ------------------------------------------ */

.top-week__options {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  color: $grey;
  font-size: 15px;
  line-height: 20px;

  @media (--tablet-widths) {
    width: 260px;
    margin-left: 50px;
    margin-bottom: 60px;
  }

  @media (--desktop-widths) {
    margin-left: 255px;
    margin-bottom: 110px;
  }
}

.top-week__options-row {
  display: flex;
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
  padding-top: 10px;
}

.top-week__options-prop {
  width: 100px;
}

/* ------------------------------------------ */
/* --------------  Картинка ----------------- */
/* ------------------------------------------ */

.top-week__img {
  @mixin margin-alignment;
  margin-bottom: 30px;
  display: block;

  @media (--tablet-widths) {
    float: right;
    width: 333px;
    height: 404px;

    margin-right: 50px;
    margin-top: -290px;
  }

  @media (--desktop-widths) {
    width: 525px;
    height: 636px;
    margin-bottom: 0;
    margin-top: -510px;
  }
}

/* ------------------------------------------ */
/* ---------------  Футер  ------------------ */
/* ------------------------------------------ */

.top-week__footer {
  margin-bottom: 35px;

  @media (--desktop-widths) {
    /*margin-top: 50px;*/
  }
}

/* --------------  Cтоимость ---------------- */

.top-week__cost {
  @mixin margin-reset;
  margin-bottom: 30px;
  text-align: center;

  color: $grey;
  font-weight: 700;

  @media (--tablet-widths) {
    margin-bottom: 35px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (--desktop-widths) {
    margin-left: 225px;
  }
}

/* ---------------  Кнопка ------------------ */

.top-week__btn {
  display: block;
  width: 90px;

  margin-left: 30px;
  margin-right: 30px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 85px;


  background-color: $bg-white;
  border: 2px solid $grey;

  color: $grey;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;

  @media (--tablet-widths) {
    margin-left: 50px;
  }

  @media (--desktop-widths) {
    margin-left: 255px;
  }
}
