/*  font  */

$font-family: OpenSans;

/*  color  */

$bg-white: #ffffff;
$bg-grey: #f1f1f1;

$green: #63d1bb;
$barkgreen: #56c3b2;

$grey: #444;

$black: black;

$text: #000000;
$border-color: #ececec;
$border-color-gray: #e5e5e5;

